main {
    position: relative;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: black;
}
.card a:hover {
    border: 1px solid green;
    box-shadow: 0px 0px 5px green;
    background-color: rgb(23, 1, 75);
}

div>.lorem {
    text-align: justify;
}
.border-3 {
    border: 5px dashed rgb(212, 203, 203);
}
ul {
    list-style-type: none;
}

.card {
    transition: 1s;
    position: relative;
    z-index: 9;
}

.w-25:hover {
    transform: scale(1.1);
}