@font-face {
    font-family: 'Germania';
    src: url(../fonts/Germania.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Orelega';
    src: url(../fonts/Orelega.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

/**************************************************************/
* {
    box-sizing: border-box;
    overflow: auto;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/***************************************************************/
.container {
    width: clamp(576px, 70vw,1200px);
    margin: 0 auto;
   
 }

header, main, footer {
   
    padding: 1rem;
    margin: 1rem;
}

.container, header, .all-parts {
    display: flex;
}

.container {
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
    width: clamp(576px, 75vw, 1200px);
}
main {
    flex-grow: 1;
}

header > a{
    margin: 10px;
}

header > a:first-child {
    font-size: 28px;
    font-weight: bold; 
    margin-right: auto;  
}

header {
    align-items: center;
}
footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

footer a:first-child {
    font-size: 18px;
     
}

footer a {
    font-size: 12px;

}


a {
    text-decoration: none;
}

.arrow {
   width: auto;
   align-self: flex-end;
   margin-left: auto;
  }

  /**************************************************************/

.all-parts { 
    flex-wrap: wrap;  
    border-radius: 15px;  
    /* box-shadow: 0px 0px 10px black; */
    justify-content: space-around;
    align-content: space-around;
    
    padding: 0;
}


.main-part {
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    width: 350px;
    
    flex-wrap: wrap;
    margin-top: 20px;
}
.savior {
    padding: 30px;
}

.part-header { 
    width: 100%;
    height: 120px;
    margin: 0;
    background: linear-gradient(to left bottom, #ff0000, #ae4500, #6b4600, #3b3708, #20211d); 
    padding: 0;
}

.part-picture {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: -75px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0px 0px 6px black;
    object-fit: cover;
  }

  .tihonov {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .name {
      font-family: 'Germania';
      margin-top: 0px;
      margin-bottom: 5px;
  }

  .part-about {
      font-family: 'Orelega';
      text-align: justify;
      font-size: 20px;
  }
 
 .like, .star {
    font-size: 35px;
    margin-bottom: 20px;
    margin: 15px 10px;
    display: inline-block;

 }

.like, .star, button {
    font-family: 'Lobster';
}

button {    
    width: 100%;
    background: red;
    color: white;
    margin-top: 15px;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    padding: 6px;
}

.arrow {
    margin: auto;
    margin-top: 15px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0%;
    border-radius: 60%;
   }

.arrow2 {
    align-self: flex-end;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    padding: 0%;
    border-radius: 60%;
 }
 
 .arrow2 img {
     width: 225px;
     height: 225px;
 }


 .main-part:hover {
    transform: rotate(180deg);
    /* flex-wrap: wrap;
    width: 400px;
    height: 250px;
    align-self: center; */
}